@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;/* TODAS AS LETRAS MAIUSCULAS MAS AS PRIMEIRAS LETRAS SÃO MAIORES */
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;/* 10% DE TUDO QUE VC VÊ */
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.355);
}

footer {
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}