@charset "UTF-8";

/* Todas as demais midias */

/* Typical Device Breakpoints
-----------------------------
Pequenas telas: até 480px( mobile first )
Celular: de 320px até 480px( mobile first )
Tablet: 480px até 768px
laptop: 768px até 1024px
desktop: 1024px até 1200px
Grandes Telas: acima de 1200px
*/

:root {
    /* CORES */
    --cor-azulClaro1: #05DBF2;
    --cor-azulClaro2: #05AFF2;
    --cor-azulEscuro1: #056CF2;
    --cor-azulEscuro2: #0756F2;
    --cor-roxo1: #5516a2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #062f81;
}

section {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.211);
    transition: 0.3s;
}

section img {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
}

section div#formulario h1 {
    margin-bottom: 10px;
}

section div#formulario>p {
    font-size: 0.9em;
}

section div#formulario {
    text-align: center;
    padding: 10px;
}

form {
    margin: 10px;
}

i {
    background-color: var(--cor-azulClaro1);
    padding: 12px;
    border-radius: 6px;
}

input {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    outline: none;
}

input.qDigita {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.507);
    transition: 0.3s;
}

input.qDigita:focus {
    border-bottom: 1px solid black;
}

input#entrar {
    padding: 15px;
    margin: 20px 0px 20px 0px;
    background-color: var(--cor-roxo1);
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bolder;
    transition: 0.3s;
}

input#entrar:focus {
    background-color: #8c2dff;
}

a {
    color: var(--cor-azulEscuro2);
    padding: 10px;
}

a:active {
    color: var(--cor-azulClaro1);
}

@media screen and (orientation: landscape) {
    section {
        width: 600px;
        height: 270px;
        display: flex;
    }

    section img {
        width: 300px;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
    }

    section div#formulario {
        width: 50%;
        margin: auto;
    }

    section div#formulario h1 {
        font-size: 1.5em;
    }

    section div#formulario > p {
        font-size: 0.8em;
        text-align: justify;
    }

    i {
        width: 40px;
        height: 40px;
    }

    input.qDigita {
        height: 30px;
    }

    input#entrar {
        width: 100px;
        padding: 10px;
        margin: 10px 0px 5px 0px;
    }
    
    a {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-color: #062f81;
        background: linear-gradient(40deg, rgba(5,175,242,1) 0%, rgba(5,108,242,1) 0%, rgba(45,98,202,1) 50%, rgba(85,22,162,1) 100%);
        background-attachment: fixed;
    }

    section {
        min-width: 750px;
        height: 320px;
    }

    section img {
        width: 350px;
    }

    input#entrar:hover {
        background-color: #7a14f7;
        cursor: pointer;
    }

    i:hover {
        background-color: var(--cor-azulClaro2);
    }

    i:hover input.qDigita {
        border-bottom: 1px solid black;
    }

    input.qDigita:hover {
        border-bottom: 1px solid black;
    }

    a:hover {
        color: var(--cor-roxo1);
    }

    a:active {
        color: var(--cor-azulClaro1);
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-color: #210000;
    }

    section {
        min-width: 1010px;
    }

    section img {
        width: 400px;
    }

    section div#formulario > p {
        text-align: center;
    }

    i {
        width: 75px;
    }

    a {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-color: #000000;
    }

    section {
        min-width: 1100px;
    }

    section img {
        width: 450px;
    }
}